{% extends 'main.html' %}
{% block how_to %}
<br>
Сервис для работы использует Twitter API. Для обработки запросов требуется аутентификация пользователя, а также получение ключей и токенов.<br>
<br>
<strong>ВНИМАНИЕ:</strong> Twitter API имеет ограничение на количество запросов во времени! Во избежание блокировки используемого twitter-аккаунта не рекомендуется выполнять более 15 запросов за 15 минут! (подробнее об этом можно почитать в <a href="https://dev.twitter.com/rest/public/rate-limiting" target="_blank">официальной документации</a>).<br>
<br>
Для получения ключей и токенов:
<ol>
<li>заходим на страницу https://apps.twitter.com/ под своим логином и паролем;</li>
<li>нажимаем кнопку «Create new app»;</li>
<li>заполняем все обязательные поля формы Application Details (в поле website можно ввести, к примеру, http://example.com) и соглашаемся с правилами использования сервиса;</li>
<li>нажимаем кнопку «Create your Twitter application»;</li>
<li>после успешного создания приложения в форме Application Details переходим на вкладку «Keys and Access Tokens»;</li>
<li>копируем в буфер обмена и вставляем в соответствующие поля следующие ключи и токены:</li>
<ul>
    <li>Consumer Key (API Key);</li>
    <li>Consumer Secret (API Secret);</li>
    <li>Access Token;</li>
    <li>Access Token Secret.</li>
</ul>
</ol>

<br>
<ins>Выборка твитов пользователя</ins><br>
<br>
Вводим следующие данные:
<ul>
    <li>псевдоним пользователя без знака @ (обязательно), можно ввести список из нескольких, тогда их следует разделить запятыми;</li>
    <li>желаемое количество твитов (не обязательно).</li>
</ul>
Если желаемое количество твитов было указано, то в выборку попадет заданное количество твитов (выборка производится по дате от самых поздних к более ранним).<br>
Если желаемое количество твитов не было указано, то в выборку попадут все твиты пользователя.<br>
Если желаемое количество твитов было указано, но оно превышает общее количество твитов пользователя, то в выборку попадут все твиты пользователя (скрипт отработает без ошибок).<br>
Рекомендация: не задавайте слишком большое количество пользователей или твитов; оптимальное суммарное количество твитов на всех пользователей - 5000.<br>
<br><br>
<ins>Выборка твитов по ключевым словам</ins><br>
<br>
Вводим следующие данные:
<ul>
    <li>текстовый запрос, по которому производится поиск твитов (обязательно);</li>
    <li>желаемое количество твитов (обязательно);</li>
    <li>тип результата: последние (recent), популярные (popular) или смешанные (mixed) (обязательно);</li>
    <li>дату, до которой будет производится выборка (не обязательно).</li>
</ul>
<br>
Если дата была указана, то в выборку попадают только те твиты, которые были опубликованы ранее этой даты. ВАЖНО: твитер не индексирует твиты старше одной недели, поэтому дату следует указывать с вилкой не более 7 дней.<br>
Если тип результата задан как «последние», то в выборку попадают последние опубликованные твиты.<br>
Если тип результата задан как «популярные», то в выборку может попасть произвольное количество твитов, меньшее либо равное заданному желаемому количеству. Количество выбранных твитов будет зависеть от запроса.<br>
Если тип результата задан как «смешанные», то в выборку попадают и популярные твиты, и последние опубликованные.<br>
<br><br>
Если при заполнении формы были допущены ошибки, соответствующая информация будет выведена на экран, а форму необходимо заполнить заново.<br>
<br><br>
<ins>Выходные данные</ins><br>
<br>
Выходные данные в обоих случаях представляют собой файл в формате xlsx с двумя листами.
На первом листе представлена выборка твитов в виде таблицы с графами:
<ul>
    <li>порядковый номер;</li>
    <li>creation_date: дата публикации твита;</li>
    <li>creation_time: время публикации твита;</li>
    <li>name: имя пользователя, опубликовавшего твит;</li>
    <li>text: текст твита.</li>
</ul><br>
На втором листе представлена информация о пользователях, опубликовавших твиты, в виде таблицы с графами:
<ul>
    <li>порядковый номер;</li>
    <li>creation_date: дата регистрации пользователя;</li>
    <li>description: о пользователе (если указано в профиле);</li>
    <li>followers: количество читателей;</li>
    <li>friends: количество читаемых;</li>
    <li>location: местоположение (если указано в профиле);</li>
    <li>name: имя;</li>
    <li>user: псевдоним пользователя.</li>
</ul><br>
Дублированные твиты (репосты и т. п.) удаляются. Таким образом, в зависимости от запроса в выборке может оказаться меньшее заданному количество твитов (например, хотим получить 100, но 5 из них одинаковые. Тогда в выборке окажется 96 строк с результатом).<br>
Дублированные пользователи также удаляются (поэтому количество твитов может быть больше, чем количество пользователей).<br>
<br><br>
{% endblock %}
